@charset "UTF-8";
/*
id = #
class = .
*/
body {
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color:slateblue;
}

h1#main {
    text-align: center;
    color: white;
    background-color: slateblue;
}

h2 {
    color:skyblue;
}

h2.basico {
    color: aqua;
}

h2.intermediario {
    color: brown;
}

h2.avancado {
    color: blueviolet;
}