@charset "UTF-8";

/* CSS Mobile First */

* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    font-size: 1.2em;
}

body, html {
    height: 100vh;
}

body {
    background: black url(../public/images/back-phone.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

    main {
        background-color: rgba(255, 255, 255, 0.600);
        width: 90%;
        border-radius: 10px;
        margin: auto;
    }

        h1 {
            text-align: center;
        }

        h2 {
            font-size: 1em;
            text-align: center;
        }

        h2::before {
            content: "Versão Smartphone";
        }

        img {
            display: block;
            margin: auto;
        }

        img#smartphone { display: block; }
        img#pc { display: none; }
        img#print { display: none; }
        img#tablet { display: none; }
        img#tv { display: none; }