@charset "UFT-8";

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

/* Geral */
* {
    margin: 0px;
    padding: 0px;
}

body {
    min-height: 100vh;
    background-color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: black;
    color: white;

    min-height: 169px;
    height: 269px;
    text-align: center;

    position: relative;

    height: 19.75vw;

    font-variant: small-caps;
}

    header h1{
        font-family: 'Passion One', cursive;
        font-weight: bold;
        /*font-size: 110px;*/
        font-size: 10vw;

        white-space: nowrap;

        position: absolute;

        left: 50%;
        top: 30%;

        transform: translate(-50%, -30%);
    }

    header p {
        font-family: Verdana, Geneva, Tahoma, sans-serif;

        position: absolute;

        left: 50%;
        top: 80%;

        transform: translate(-50%, -80%);
    }

    a {
        font-weight: bold;
        text-decoration: none;
        color: white;
    }

    a:hover {
        text-decoration: underline;
    }
    
section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3.5vw;
}

section.commom {
    background-color: white;
    /*box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.600);*/
}

section.background-image {
    box-shadow: inset 3px 3px 10px 1px rgba(0, 0, 0, 0.600);
}

section#b {
    background: black url('public/images/background001.jpg') right center no-repeat fixed;
    background-size: cover;
}

section#d {
    background: black url('public/images/background002.jpg') right center no-repeat fixed;
    background-size: cover;
}

section p {
    font-family: 'Sriracha', cursive;
    padding-bottom: 95.2px;
}

section#b p, #d p {
    background-color: rgba(0, 0, 0, 0.366);

    padding: 5px;

    width: fit-content;

    color: white;
}

footer {
    background-color: black;
    padding: 10px;
    color: white;
}

    footer p {
        text-align: center;
    }